################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OauthServer/.vs/OauthServer
/OauthServer/OauthServer.csproj.user
/OauthServer/obj
/IdentityServer/obj
/IdentityServer/bin/Debug
/IdentityServer/.vs
